<nav class="navbar navbar-default" ng-controller="AuthController">
  <ul class="nav navbar-nav">
    <li><a class="selected" href="#/profile">My Profile</a></li>
    <li><a href="#/postWorkout">Update Schedule</a></li>
    <li><a href="#/feed">Feed</a></li>
    <li><a href="#/signup">Sign Up</a></li>
  </ul>
</nav>

<h2>Sign In</h2>
<form>
  Username: <input type="text" ng-model="username">
  <br>
  Password: <input type="password" ng-model="password">
  <br>
  <button ng-click="checkUser(username, password)">Sign In</button>
</form>

