  <div class="container-fluid profile-only" ng-app="profile" ng-controller="ProfileController">

<!-- Welcome Back Row  -->

  <div class="row">
    <div class="col-sm-12">
      <div class="chart-stage welcome-back">
        <h2>Welcome Back, {{data.username}}!</h2>
      </div>
    </div>
  </div>

<!-- First Row, workout feed & bar chart -->

  <!-- Workout Feed -->
   <div class="row" id="toprow">
    <div class="col-sm-3">
      <div class="chart-wrapper">
        <div class="chart-title">
          My Recent Workouts
        </div>
        <div class="chart-stage sidebar">
          <div class="user-workouts" ng-repeat="workout in data.workouts | orderBy: '-datetime' | limitTo: 50 track by $index">
            <div class="workout-item">
              <div class="datetime">{{ workout.datetime | date: 'MMM dd'}}</div>
              <div class="workout-type">{{ workout.category }}</div>
              <div class="workout-duration">{{ workout.duration }} mins</div>
              <div class="workout-calories">{{ workout.calories }} calories</div>
              <div class="comment">Comment: {{ workout.comment }}</div>
              <div class="created-at">{{ workout.createdAt }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
      <!-- All D3 Charts -->
      <div class="col-sm-9">
        <div class="row">

          <!-- large weekly progress bar chart -->
            <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Weekly Progress Chart
              </div>       
               <div class="chart-stage barchart">
                  <bars-chart chart-data="data.workouts" /></bars-chart>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--smaller charts -->
  <div class="row" id="secondrow">
    <div class="col-sm-4">

    <!-- workout days this week -->
      <div class="chart-wrapper">
        <div class="chart-title">
          Workout Days This week
        </div>
        <div class="chart-stage smallboxes" id="workout-days-chart">
          <div ng-if="data.workouts">
            <workout-days-chart chart-data="data.workouts">
            </workout-days-chart>
          </div>
        </div>
      </div>
    </div>

  <!-- calories this month -->
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
            Calories Burned This Month
          </div>
          <div class="chart-stage smallboxes" id="calories-chart">
            <div ng-if="data.workouts">
            <calories-chart chart-data="data.workouts"></calories-chart>
            </div>
          </div>
        </div>
      </div>

    <!-- TBD Chart -->
      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Your Custom Chart Here!
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x120/white">
          </div>
        </div>
      </div>
    </div>
  </div>


          

  
