<nav class="navbar navbar-default" ng-controller="AuthController">
  <ul class="nav navbar-nav">
    <li><a class="selected" href="#/profile">My Profile</a></li>
    <li><a href="#/postWorkout">Update Schedule</a></li>
    <li><a href="#/feed">Feed</a></li>
    <li><a href="#/signout" ng-click="signout()" >Log Out</a></li>
  </ul>
</nav>


<center>
<h4>For the week of: </h4>
<h3>{{ weekStart }} to {{ weekEnd }}</h3>
<br>
<button ng-click="changeDisplayedWeek('prev')">Go to previous week!</button>
<button ng-click="changeDisplayedWeek('next')">Go to next week!</button>
<div class="weeklyLayout">
  <div class="weekday" ng-repeat="(stringDayOfWeek, numericalDayOfWeek) in daysOfTheWeek" >

    <div class="weekdayName">{{ stringDayOfWeek }}</div>

    <div class="addNew addNewMain" ng-show="!addNewElement[stringDayOfWeek].hidden" ng-click="toggle(addNewElement[stringDayOfWeek])">add new!</div>

    <div class="addNew" ng-show="addNewElement[stringDayOfWeek].hidden">
      <br>
      category:
      <br>
      <form>
        <select name="workoutCategory" ng-model="category">
          <option ng-repeat="(cat, types) in workoutCategories" value="{{ cat }}">{{ cat }}</option>

        </select>
        <br><br>

        workout:
        <br>
        <select name="workoutType" ng-model="workouttype">
          <option ng-repeat="type in workoutCategories[category]" value="{{ type }}"> {{ type }}</option>
        </select>
        <br><br>

        <!-- can this be refactored?
        anna: i couldn't get the models to bind if i used ng-repeat. we can ty again tomorrow?
        -->
        <div>
          duration (in minutes):
          <br>
          <input type="text" ng-model="duration">
        </div>

        <div>
          calories burned:
          <br>
          <input type="text" ng-model="calories">
        </div>

        <div>
          reflection/comments:
          <br>
          <input type="text" ng-model="comment">
        </div>

        <button ng-click="createWorkout(currentId, category, workouttype, numericalDayOfWeek, comment, duration, calories); toggle(addNewElement[stringDayOfWeek])">add workout!</button>
        <br>

        <button ng-click="toggle(addNewElement[stringDayOfWeek])">cancel</button>
        <br><br>
      </form>
    </div>

    <div ng-show="!addNewElement[stringDayOfWeek].hidden" ng-repeat="workout in workoutsDatabase| filter: { UserId: currentId, day: numericalDayOfWeek, week: displayedWeek }" >
      <div class="theWorkouts {{ workout.category }}" ng-show="!workout.hidden" ng-click="toggle(workout)">
        {{ workout.type }}
      </div>

      <div ng-show="workout.hidden" class="workoutDetailed theWorkouts {{ workout.category }}">
        <button ng-click="toggle(workout)">go back</button>
        <button ng-click="deleteThisWorkout(workout.id)">delete</button>
        <br><br>

        <!-- add functionality to update these fields in the database by clicking to edit the text -->
        <span ng-repeat="field in workoutFields" ng-if="workout[field]">
          {{ field }}:
          <span>
          {{ workout[field] }}
          <br>
          </span>
        </span>

        <br>
        <!--
        (uncomment this to be able to add new fields - will need to reconfigure the database)
        <button ng-click="addField(newField, workoutFields)">add field</button>
        <input type="text" ng-model="newField">
         -->
      </div>
    </div>

  </div>
</div>


</center>
